<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{url_for('index')}}">CyberSecurityStore</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li<a href="https://condor.sncf.fr" onclick="document.body.style.cursor='wait'; return true;"><i class="fa fa-contao fa-lg"></i> Condor</a></li>
                    <li><a href=""><i class="fa fa-graduation-cap fa-lg"></i> MyLabel</a></li>
                    <li><a href=""><i class="fa fa-certificate fa-lg"></i> PreKonDemand</a></li>
                    <li><a href=""><i class="fa fa-certificate fa-lg"></i> Audit Flash</a></li>
                    <li><a href=""><i class="fa fa-certificate fa-lg"></i> MyAdmin</a></li>
                </ul>
            </li>
            <li><a href="">Assistance</a></li>
        </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
